*.csv
*.csv.zip
*.zip
*.model
*.docx
*.tar
*.json
dissertation
saved_models*
saved_embeddings
vast
__pycache__
glove_files
ready_for_models
smote_x_y_train.pickle
word2vec_model_sklearn.pickle
sent_data.pickle
unique_words.pickle
archived_files
rf.pickle
lr.pickle
bag_mnnb.pickle
xgb.pickle
archived_*
sd_pickle_files
sd_saved_models
web_app/models